<div class="module">
    <table>
        <caption>
            Статистика продаж
        </caption>
        <thead>
        <tr>
            <th rowspan="2">Менеджер</th>
            <th colspan="3">За все время</th>
            <th colspan="3">За месяц</th>
        </tr>
        <tr>
            <th>Продажи</th>
            <th>Сумма, руб.</th>
            <th>Среднее, руб.</th>
            <th>Продажи</th>
            <th>Среднее, руб.</th>
            <th>Сумма, руб.</th>
        </tr>
        </thead>
        <tbody>
        {% for manager, data in statistics.items %}
            <tr>
                <td><a href="{% url 'admin:api_user_change' manager.pk %}">{{ manager }}</a></td>
                <td>{{ data.total_count }}</td>
                <td>{{ data.amount }}</td>
                <td>{{ data.average }}</td>
                <td>{{ data.month_total_count }}</td>
                <td>{{ data.month_amount }}</td>
                <td>{{ data.month_average }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
