<div class="module">
    <table>
        <caption>
            {% if more_count %}
                Последние
            {% else %}
                Все
            {% endif %} контейнеры:
            {% if more_count %}
                {{ rows|length }} из
            {% endif %}
            {{ total_count }} шт.
        </caption>
        <thead>
        <tr>
            <th>№</th>
            {% for th in headers %}<th>{{ th }}</th>{% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in rows %}
            <tr><td>{{ forloop.revcounter|add:more_count }}{% for td in row %}<td>{{ td }}</td>{% endfor %}</tr>
        {% endfor %}
        <tr><td colspan="3"><b>Итого</b></td><td><b>{{ amount }}</b></td></tr>
        <tr><td colspan="3"><b>Средняя цена</b></td><td><b>{{ average }}</b></td></tr>
        {% if more_count %}
            <tr><td colspan="{{ rows.0|length|add:1 }}" align="center">...</td></tr>
        {% endif %}
        </tbody>
    </table>
</div>
